body{
    margin: 0;
   
    font-family: "Open Sans", arial, sans-serif;
}



.nav{
    position: fixed;
    top:0;
    width: 100%;
    z-index:2;
    background-color: transparent;
    display:flex;
    justify-content: space-between;
    transition: 0.5s;
}

.nav .menu{
    display: flex;
}

.nav .logo{
    width: 50%;
    margin: 15px 0 10px 30px;
    padding: 0;
}

.nav .logo img{
    width: 100%;
}

.nav .menu{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    margin: 22px 5em 22px 0;
    padding: 0;
}

.nav .menu li{
    margin-left: 25px;
    margin-right: 5px;
    letter-spacing: 2px;
    list-style: none;
    color: rgba(255,255,255, .7);
    transition: 0.3s;
}
.nav .menu #active{
    color: #ffffff;
}

.nav .menu li:hover{
    color: #ffffff;
}

.nav .menu .element{
    display: flex;
    position: relative;
    left: 30px;
}
.owl-slide1 .item{
    width: 100%;
    height: 665px;
    overflow: hidden;
    text-align: center;
    color: #555;
}
.owl-slide1 .item img{
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    opacity: 1;
    visibility: inherit;
    bottom: 50px;
}

.owl-slide1 .item .item-text{
    position: absolute;
    top: 30%;
    color: #ffffff;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Dosis', arial, sans-serif;
    
}
.owl-slide1 .item .item-text .head1 {
    line-height: 19px;
    border-width: 0px;
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 400;
  
}
.owl-slide1 .item .item-text .headicon{
line-height: 96px;
font-size: 96px;
}
.owl-slide1 .item .item-text .main-head{
line-height: 67px;
border-width: 0px;
letter-spacing: 33px;
font-size: 55px;
font-weight: 400;
}
.owl-slide1 .item .item-text .item-tex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.owl-slide1 .item .item-text .item-tex .headg{
    width: 50%;
    text-align: left;
    
}
.owl-slide1 .item .item-text .item-tex .vid{
    width: 30%;
}
.owl-slide1 .item .item-text #mhead{
    line-height: 67px;
    letter-spacing: 1px;
    font-size: 48px;
    animation-name: slideInLeft;
    animation-duration: 4s infinite;

}
.owl-slide1 .item .item-text .btn-head .btn{
    line-height: 17px;
    border-width: 2px;
    padding: 8px 38px;
    letter-spacing: 2px;
    font-size: 14px;
    background: transparent;
    color: #fff;
    border: 1px solid;
    margin: 0px 5px 0 5px;
}
.owl-slide1 .item .item-text .btn-head .btn:hover{
    color: black;
    background: #fff;
    
}


.owl-slide1 .owl-item img{
    width: 100%;
    position: relative;
    bottom: 57px;
}

  @-webkit-keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
   @keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

@-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }

.owl-theme .owl-nav {
    font-size: 40px;
    position: absolute;
    top: 40%;
    border-radius: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0%;
    margin-top: 0;
}

.owl-theme .owl-dots{
    position: absolute;
    bottom: 1em;
    width: 100%;
}

.owl-theme .owl-dots .owl-dot span{
    background: #00000091;
    margin: 5px 3px;

}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #ffffff;

}


.owl-slide1 .owl-nav button.owl-next, .owl-slide1 .owl-nav button.owl-prev{
    padding: 40px 10px!important;
    background: #11111140;
    border-radius: 0%;
    margin: 0;
    outline: 0;
    transition: 0.5s;
}

.owl-slide1 .owl-nav button.owl-next span, .owl-slide1 .owl-nav button.owl-prev span{
    color: #ffffff;
}

.owl-slide1 .owl-nav button.owl-prev:hover{
    background: transparent;
    background-image: url(../images/section-bg-18.jpg);
    background-size: cover;
    background-attachment: inherit;
    background-repeat: no-repeat;
    padding:40px 92px!important;
}


.owl-slide1 .owl-nav button.owl-next:hover{
    background: transparent;
    background-image: url(../images/section-bg-19.jpg);
    background-size: cover;
    background-attachment: inherit;
    background-repeat: no-repeat;
    padding:40px 92px!important;
}

.owl-slide1 .owl-nav button.owl-next:hover span, .owl-slide1 .owl-nav button.owl-prev:hover span{
    opacity:0;
}

.about-head{
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-family: 'Dosis', arial, sans-serif;
    margin: 20px 0 70px 0;
}
.about-head h2{
    font-size: 18px;
    font-weight:400 ;
    letter-spacing:9px ;
    line-height: 25.2px;

}
.about-head  a{
    font-size:11px ;
    font-weight: 400;
    letter-spacing: 4.4px;
    text-decoration: none;
    color: black;
    line-height: 15.4px;
    
    
}
.about-head i{
    color: #999;
    font-size: 12px;
    
}
.container2{
    padding: 140px 0;
    width: 86.73%;
    margin: 0 auto;
}
.progress{
    position: relative;
    min-height: 1px;
   padding: 0 15px 0 15px;
    width: 100%;
   
}
.tpl-progress{
    margin-top: 10px;
    margin-bottom: 50px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: visible;
    height: 2px;
    background: #f0f0f0;
    border-radius: 0px;
    box-shadow: none;
}


 .tpl-progress .progress-bar {
    padding-top: 2px;
    position: relative;
    overflow: visible;
    background-color: #222;
    font-size: 11px;
    color: #000;
    text-align: left;
    box-sizing: border-box;
    width: 90%;
}
.progress-bar{
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15); 
    transition: width .6s ease;

}
.about-det{
 display: flex;
 } 
.det1,.det2{   
     padding: 0px 15px 0 15px;
     font-size: 15px;
     font-weight: 300;
     color: #777;
     line-height: 1.7;
     width: 100%;
}
.tpl-progress .progress-bar > span {
    display: inline-block;
    min-width: 24px;
    height: 24px;
    padding: 0 3px;
    position: absolute;
    top: 0px;
    right: -5px;
    text-align: center;
    line-height: 23px;
    letter-spacing: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.tab{
    font-size: 48px;
}

.tab .char{
    font-family: 'et-line';
}

.glyph {
    font-size: 16px;
    float: left;
    text-align: center;
    background: #eee;
    padding: .75em;
    margin: .75em 1.5em .75em 0;
    width: 7.5em;
    border-radius: .25em;
    box-shadow: inset 0 0 0 1px #f8f8f8, 0 0 0 1px #CCC;
}
.glyph input {
    font-family: consolas, monospace;
    font-size: 13px;
    width: 100%;
    text-align: center;
    border: 0;
    box-shadow: 0 0 0 1px #ccc;
    padding: .125em;
}

.box1 {
    font-size: 16px;
    display: inline-block;
    width: 15em;
    padding: .25em .5em;
    background: #eee;
    margin: .5em 1em .5em 0;
}
.serv-icon ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 30px 0 30px 0;
    align-items: center;
    justify-content: space-evenly;
    

}
.serv-icon {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 4px;
        border: none;
    
}
.serv-icon li a{
 
    text-decoration: none;
    color: #a3a3a3;
    padding: 10px 15px 10px 15px;
    

} 

.serv-icon > li {
    width: 215px;
    display: inline-block;
    vertical-align: top;
    float: none;
    padding: 0;
    background: none !important;
   
    
}
    .alt-tabs-icon {
        display: block;
        margin-bottom: 12px;
        font-size: 48px;
    }
    .serv-icon li.active a, .serv-icon li.active a:hover, .serv-icon li.active a:focus {
        cursor: default;
        color: #111;
        text-decoration: none;
    }
    .serv-icon li a:hover {
        
        color: #111;
        transition: 0.5s;
        
    }
.service h2{
    font-size:18px ;
    font-weight: 400;
    letter-spacing: 9px;
    line-height: 1.4;
    text-align: center;
    font-family:'Dosis', arial, sans-serif;
    margin: 20px 0 70px 0;

}    
.container3{
    padding: 140px 0;
    width: 86.73%;
    margin: 0 auto;
}
.service-det{

    padding-left: 15px;
    padding-right: 15px;
}
.tab-details{
    display: flex;
    justify-content: center;
    color: #777;
    padding: 30px 0 30px 0;
    width: 86.73%;
    margin: 0 auto;
}
.tab-det1 p{
  
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
    margin: 0px 0 1em 0;
    
    
    
}
.tab-det1 footer{
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;

    
}.tab-det1 footer::before{
    content: '\2014 \00A0';

}
.tab-det2{
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7;
}
.tab-det1{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.tab-det2{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.view-service{
    text-align: center;
}
.view-service a{
    text-decoration: none;
    color: #999;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;

}
.view-service a:hover{
    color: #000;
    transition: 0.5s;
}

.paracont{
    background-image: url(../images/section-bg-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0px 0 35px 0;
}

.parallax{
    top:0;
    position: relative;
    display:flex;
    align-items:center;
    margin:0 auto;
    width: 1170px;
    color: rgba(255,255,255, .7);
}

.disc{
    padding-left: 15px;
    padding-right: 15px;
}
.disc h3{
    font-size: 18px;
    font-family: 'Dosis', arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.3em;
    line-height: 1.5;
    color: rgba(255,255,255, .9);
    
}

.disc p{
    font-size: 15px;
    margin-bottom: 35px;
    line-height: 1.6;
    font-weight: 300;
}

.moni{
    margin: -40px 0 0 0;
}
.btn{
    height: auto;
    background: rgba(255,255,255, .8);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #111;
    padding: 8px 37px;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 0.2em;
    transition: 0.5s;
}

.btn:hover{
    background-color: #ffffff;
}
.container4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 140px 0;
    width: 86.73%;
    margin: 0 auto;
    font-family: 'Dosis', arial, sans-serif;
    letter-spacing: 0.2em;
}
.container4 .work{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Dosis', arial, sans-serif;
   

}
.work .alt-features-item .alt-features-descr h4{
    margin-bottom: 1.3em;
    line-height: 1.4;
    font-weight: 400;
    font-size: 18px;
    

}
.work .alt-features-item .alt-features-descr p{
    font-family: "Open Sans", arial, sans-serif;
    letter-spacing: 0;
}


.work .alt-features-item .alt-features-descr {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
    text-align: left;
   
}
.work .alt-features-item{
    text-align: center;
}
.work .alt-features-item .alt-features-icon {
    padding-top: 10px;
    font-size: 48px;
    line-height: 1.3;
    color: #111;
    
}
.work .alt-features-item  .alt-features-title {
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.4em;
}
.container5{
    padding: 140px 0 0 0 ;
}
.lat-work{
    text-align: center;
}
.lat-work h2{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.4;
    font-family: 'Dosis', arial, sans-serif;
    margin: 20px 0 70px 0;
}
.lat-work p{
    font-size: 15px;
    font-weight: 300;
    color: #777;
    line-height: 1.7;
    padding: 0 302.5px 0 302.5px;
    margin-bottom: 70px;
}
.lat-img{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.workimg{
    margin: 0 10px 10px 0;
    overflow: hidden;
    line-height: 0;
    position: relative;
    text-align: center;
}
.workimg img{
    width: 100%;
    transition: 0.3s;
}

.workimg .lbg{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250, .9);
    opacity:0;
    transition: 0.5s;
}

.workimg .lbg:hover{
    opacity:1;
}
.working img:hover{
    transform: scale(1.06);
}
.workimg .lbg:hover img{
    transform: scale(1.06);
}
.workimg .ltext{
    position: absolute;
    bottom:20px;
    height: auto;
    width:100%;
    transition:0.5s;
    color: #000;
    font-weight: 400;
    font-family: 'Dosis', arial, sans-serif;
    letter-spacing: 0.2em;
}

.workimg .ltext h4,.workimg .ltext h5{
    font-weight: 400;
}
.bg-dark {
    background-color: #111;
    width: 100%;
    padding: 70px 0;
}
.banner-heading {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: rgba(255,255,255, 0.9);
    font-family: 'Dosis', arial, sans-serif;
}
.crelative{
    text-align: center;
}
.local-scroll .btn{
    text-transform: uppercase;
     font-size: 14px;
     padding: 10px 37px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}
.why-choose .section-title {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.4;
    font-family: 'Dosis', arial, sans-serif;
}
.why-choose .row .alt-features-item {
    margin-top: 70px;
    text-align: center;
}
.why-choose .row .alt-features-item .alt-features-icon {
    padding-top: 10px;
    font-size: 48px;
    line-height: 1.3;
    color: #111;
}
.why-choose .row .alt-features-item .alt-features-title {
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-family: 'Dosis', arial, sans-serif;
}
.why-choose .row .alt-features-item .alt-features-descr {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
    text-align: left;
  
  
   
}
.why-choose{
 
    padding: 140px 0;
    margin: 0 auto; 
     width: 86.73%;
}

.choose-det{
   width: 100%;
   padding-left: 15px;
    padding-right: 15px;

   
}
.why-choose .row .alt-features-item {
    padding: 0 15px;
}
.container6{
    background-image: url(../images/section-bg-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax2{
    top:0; 
    position: relative;
    display:flex;
    align-items:center;
    margin:0 auto;
    width: 1170px;
    color: rgba(255,255,255, .7);
}

.owl-slide2{
    background: rgba(3,3,3, .9);
}

.owl-slide2 .item{
    text-align: center;
    height: auto;
    padding-top:170px;
    padding-bottom: 170px;
    color: #ffffff;
    width:100%;
}
.owl-slide2 .item .item-text{
    width: 57%;
    margin: 0 auto;
    
}
.owl-slide2 .item .item-text span{
    margin-bottom: 25px;
    text-align: center;
    font-size: 33px;
    line-height: 1;
}
.owl-slide2 .item .item-text h3{
    padding: 0;
    margin: 0 0 30px 0;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.3em;
    font-family: 'Dosis', arial, sans-serif;
    color:#ffffff;
}
.owl-slide2 .item .item-text p{
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;

  }
  .owl-slide2 .item .item-text footer:before{
     content: '\2014 \00A0';
}
      
  
  .owl-slide2 .item .item-text footer {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #777;
}

.owl-slide2{
    overflow: hidden;
}

.owl-slide2 .owl-dots .owl-dot span{
    background: #869791;
    margin: 5px 4px;
    width: 6px;
    height: 6px;
}

.owl-slide2 .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: transparent;
    border: 1px solid rgba(255,255,255, .8);

}

.owl-slide2 .owl-nav {
    font-size: 20px;
    position: absolute;
    top: 45%;
    border-radius: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 0;
}

.owl-slide2 .owl-nav button.owl-next, .owl-slide2 .owl-nav button.owl-prev{
    padding: 20px 30px!important;
    background: #ffffff;
    border-radius: 0%;
    margin: 0;
    color: #000;
    transform: rotate(45deg);
    transition: 1s;
    outline:0;
}

.owl-slide2 .owl-nav button.owl-next span, .owl-slide2 .owl-nav button.owl-prev span{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); 
   -moz-transform: rotate(-45deg);    
   display: block;
}

.owl-slide2 .owl-nav button.owl-prev span{
    position: relative;
    left: 10px;
    bottom: 10px;
}

.owl-slide2 .owl-nav button.owl-next span{
    position: relative;
    right: 10px;
    top: 10px;
}


.owl-slide2 .owl-nav button.owl-next{
    right: -80px;
    position: relative;
    transition: 0.4s;
    opacity: 0;
}

.owl-slide2:hover button.owl-next{
    right:-33px;
    opacity: 1;
}

.owl-slide2 .owl-nav button.owl-prev{
    left: -80px;
    position: relative;
    transition: 0.4s;
    opacity: 0;
}

.owl-slide2:hover button.owl-prev{
    left:-33px;
    opacity: 1;
}

.ecart{
   
    padding-left: 15px;
    padding-right: 15px;
}
.ecart .bestsell{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Dosis', arial, sans-serif;
    margin-bottom: 70px;

}
.ecart .bestsell h2{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.4;
    margin:0;
}
.ecart .bestsell a{
    margin-top: 7px;
    color: #999;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.4em;
    text-decoration: none;
}
.ecart .bestsell a i{
    font-size: 12px;
}
.container7{
    padding:140px 0;
    width: 86.73%;
    margin: 0 auto;
}
.bestcart{
    display: flex;
    justify-content: center;
}
.bestcart .showcase .show-img img{
    width: 100%;
    
}
.bestcart .showcase{
    margin: 0 15px;
}
.bestcart .showcase .showimg-abt{
    text-align: center;
}
.bestcart .showcase .showimg-abt .sabt1{
    margin-bottom: 6px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #777;
  font-family: 'Dosis', arial, sans-serif ;
  text-align: center;
  width: 91%;
  line-height: 1.8;
}
.bestcart .showcase .showimg-abt .sabt2{
    margin-bottom: 22px;
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.75;
}
.bestcart .showcase .showimg-abt .btn{
    color: #777;
    background: #e5e5e5;
    text-transform: uppercase;
    font-size: 11px;
    padding: 4px 13px;
}
.bestcart .showcase .showimg-abt .btn:hover{
    color: #444;
    background: #d5d5d5;
        
}
.show-img{
    margin: 0 10px 10px 0;
    overflow: hidden;
    line-height: 0;
    position: relative;
    text-align: center;
}


.show-img .wh-bg{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250, .9);
    opacity:0;
    transition: 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.show-img .wh-bg:hover{
    opacity:0.20 ;
}
.showcase .sale{
    position: absolute;
    top: 18px;
    right: 10px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.showcase .sale .bg-red{
    background-color: #e13939 ;
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 80%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.container8{
    
    width: 96.73%;
    margin: 0 auto;
}
.container8 .awes{
    display:flex;
    padding:140px 0;
    justify-content: space-evenly;
}

.container8 .awes-img{
   width: 51%; 
}

.container8 .awes-img img{
    width: 98%;
}

.container8 .awes .owl-slide2{
    background: transparent;
}
.container8 .owl-slide2:hover button.owl-next {
    right:-18px;
}

.container8 .owl-slide2 .owl-nav button.owl-next:hover, .owl-slide2 .owl-nav button.owl-prev:hover{
    background: #ffffff;
    color: black;
   opacity: 0.9;
}
.container8 .awes-img .item{
    padding: 0;
    background: transparent;
}
.container8 .awes-temp{
    width: 29%;

}
.awes .awes-temp h3{
    font-family: 'Dosis', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 27px;
    line-height: 1.4;
    font-weight: 400;
}
.awes .awes-temp p{
    font-size: 18px;
    font-weight: 300;
    color: #5f5f5f;
    line-height: 1.8;
    padding: 0px 0 25px 0;
}

.awes .awes-temp .btn{
    text-transform: uppercase;
    border:2px solid #151515;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 10px 39px;
    transition: 0.5 cubic-bezier(0.68, -0.55, 0.265, 1.55);
   
}
.awes .awes-temp .btn:hover{
    color: #fff;
    background-color: #151515;
}
.container9{
    background-image: url(../images/section-bg-16.jpg);
    background-position: center;
    background-repeat: no-repeat;
 background-position-x: left;
    width: 100%;
    padding: 0 0 0 0;
    
}

.container9 .owl-slide2{
    background:rgba(17,17,17, .7);
}
.style .item .sicon{
    font-size: 48px;
    line-height: 1.5;
    color: rgba(255,255,255, .9);
}
.style .item .stitle{
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255,255,255, .9);
    font-family: 'Dosis', arial, sans-serif;
    letter-spacing: 0.2em;
    line-height: 1.5;
}
.style .item .sdescr{
    font-size: 15px;
    font-weight: 300;
    color: rgba(255,255,255, .75);
}
.container9 .owl-slide2 .item{
padding: 180px 0 180px 0;
}
.news{
   
    padding-left: 15px;
    padding-right: 15px;
}
.containera1 .news {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Dosis', arial, sans-serif;
    margin-bottom: 70px;
    text-transform: uppercase;

}
.containera1 .news h2{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.4;
    margin:0;
}
.containera1 .news  a{
    margin-top: 7px;
    color: #999;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.4em;
    text-decoration: none;
}
.containera1 .news a i{
    font-size: 12px;
}
.containera1{
    padding:140px 0;
    width: 86.73%;
    margin: 0 auto;
}
.news-det{
    display: flex;
    padding: 0 0 0 0;
    
}
.news-img{
    margin: 0 10px 10px 0;
    overflow: hidden;
    line-height: 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.news-img img{
    width: 100%;
}
.newsimg-det{
margin-top: 2em;
}
.tnews{
    padding: 0 15px 0 15px;
}
.news-img .wh-bg{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(250,250,250, .9);
    opacity:0;
    transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.news-img .wh-bg:hover{
    opacity:0.3 ;
}
.news-det .nhead{
    margin-bottom: 6px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;  
    font-family: 'Dosis', arial, sans-serif;
}
.news-det .nhead a{
    color: #777;
    text-decoration: none;
}
.news-det .nhead2 a{
margin-bottom: 15px;
font-size: 12px;
text-decoration: none;
color: #aaa;
font-family: 'Dosis', arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.news-det .nhead3 p{
margin-bottom: 22px;
color: #777;
font-size: 18px;
font-weight: 300;
line-height: 1.75;
}
.news-det .btn{
color: #777;
background: #e5e5e5;
border: 2px solid transparent;
font-size: 12px;
font-weight: 400;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 2px;
padding: 4px 13px ;
}
.containera2{
    background-color: #f8f8f8;
    padding: 70px 0;
    text-align: center;
    
}
    
.containera2 .newsletter{
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-family: 'Dosis', arial, sans-serif;

}
.containera2 .letter-box input{
height: 37px;
padding-left: 13px;
padding-right: 167px;
font-size: 12px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 1px;
color: #777;
border: 1px solid rgba(0,0,0, .1);
outline: 0;
}
.containera2 .letter-box .btn{
    height: auto;
    padding: 12px 37px;
    font-size: 12px;
    color: #fff;
    background: rgba(34,34,34, .9);
    border: 2px solid transparent;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: 0;
}
.containera2 .letter-box .btn:hover{
     background:  rgb(68,68,68);
}

.containera2 .letter-box {
margin-bottom: 20px;
}
.containera2 .form-tip{
font-size: 11px;
    color: #aaa;
}
.containera2 .letter-box .form-tip .fa{
    font-size: 12px;
}
.containera3{
    padding: 140px 0;
    width: 86.73%;
    margin: 0 auto;
}
.containera3 .find{
   font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5em;
    line-height: 1.4;
    margin-bottom: 70px;
    margin-top: 20px;

    font-family: 'Dosis', arial, sans-serif;
}
.containera3 .rowf{
    display: flex;
    justify-content: center;
}
.containera3 .contact-item {
    color: #444;
    display: flex;
    justify-content: center;
    width: 25%;
    
}

.containera3 .contact-item  .ci-icon {
    width: 24px;
    height: 24px;
    color:#fff;
    text-align: center;
    background: black; 
    line-height: 23px;
    font-size: 14px;
    border-radius: 2px;
    transform: rotate(45deg);
    margin: 0 15px 0 0;
}
.containera3 .contact-item  .ci-icon .fa{
   transform: rotate(45deg);
   
}

.containera3 .contact-item  .ci-icon .fa-map-marker {
    transform: rotate(-45deg);
}
.containera3 .contact-item  .ci-icon .fa-envelope{
    transform: rotate(310deg);
}
.containera3 .contact-item .ci-text {
    font-size: 15px;
    font-weight: 300;
    color: #777;
    
}
.containera3 .contact-item .ci-text a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: #777;
}
.containera3 .contact-item .ci-title{
    margin-bottom: 1px;
    color: #777;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-family: 'Dosis', arial, sans-serif;
}
.containera4{
    margin-top:70px;
}
.containera5{
    text-align: center;
    padding: 140px 0 60px 0 ;
}
.containera5 .logo2{
     width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.containera5 .logo2 img{
  width: 6%;
}
.containera5 .linkr{
    margin-bottom: 110px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containera5 .linkr .linkrot {
    width: 25px;
    height: 25px;
   margin: 0 10px;
    text-align: center;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #111;
    color: #111;
    line-height: 25px ;
    transition: 0.3s;
    transform: rotate(45deg);
}
.containera5 .linkr .linkrot .fab{
    transform: rotate(-45deg);
}
.containera5 .linkr .linkrot:hover{
    color: #fff;
    background-color: #111;
}

.containera5 .foot-text .foot-copy{
margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-family: 'Dosis', arial, sans-serif;
}
.containera5 .foot-text .foot-copy a{
    text-decoration: none;
    font-size: 12px;
    color: #888;
}
.containera5 .foot-text .foot-copy a:hover{
    text-decoration:  #888;;
}
.containera5 .foot-text .foot-made {
    font-size: 11px;
    color: #999;
}

.nav-bar .ham{
    display: none;
}


/*Media screen*/
@media screen and (max-width:550px){
    .owl-slide1 .owl-nav button.owl-next, .owl-slide1 .owl-nav button.owl-prev {
        padding: 18px 6px!important;
    }  
    .owl-theme .owl-nav {
        font-size: 33px;
        top: 28%;
        opacity: 0;
        
    }  
    .owl-slide1 .owl-item img {
        bottom: 24px;
    
    }
    .owl-theme .owl-dots{
          bottom: 2em;
          
    }
    .owl-slide1  .owl-dots{
        display: none;
    }
    .owl-slide1 .item .item-text .head1 {
        font-size: 7px;
        line-height: 8px;
        letter-spacing: 1px;
    }
    .owl-slide1 .item .item-text{
        top: 34%;
    }
    .owl-slide1 .item .item-text #mhead{
        font-size: 10px;
        letter-spacing: 0px;
        line-height: 14px;  
    }
    
  .owl-slide1 .item .item-text .main-head{
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 14px;
   }
 
   .owl-slide1 .item .item-text .btn-head .btn{
   padding: 3px 16px;
   letter-spacing: 0px;
    font-size: 5px;
    line-height:7px ;
   }
   .owl-slide1 .item .item-text .headicon{ 
    line-height: 16px;
    font-size: 16px;
   }
   .owl-slide1 .owl-item #imgs{
       bottom: 3px;
   }
  .owl-slide1 .item .item-text .item-tex .vid {
    display: none;
  }
  .owl-slide1 .item .item-text .item-tex .headg{
      width: 94%;
  }
  .owl-slide1 .item{
   height: 100%;
  }
  .container2{
    padding: 80px 0;
    width: 91.73%;
   }
   .container2 .about-head{
       display: block;
       text-align: left;
       margin-bottom: 40px;
      
   }
   .container2 .about-head h2{
   line-height: 10.2px;
     }
 
  .container2 .about-det{
      display: block;
  }
  .progress{
      padding: 0;
  }
  .container2 .about-det .det1,.det2{
      padding: 0 0 0 0;
  }
  .container2 .about-det .det2{
      padding: 20px 0 0 0;
  }
  .tab-details{
      display: block;
      width: 91.73%;

  }
  .tab-det1 {
   padding: 0 0 0 0;
   margin-bottom: 20px;
  }
  .tab-det2 {
     margin-bottom: 20px;
    padding: 0 0 0 0 ;
   }
   .tab-det1 p {
    font-size: 20px;
   }
   .paracont {
    background-attachment: local;
   }
   .parallax {
    top: 0;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 93%;
    padding: 1px 0;
   }
   .moni {
     margin: 40px 0 ;
     
   }
   .moni img{
       width: 100%;
   }
   .disc {
      margin: 80px 0;
      text-align: center;
     }
     .paracont {
        padding: 0;
     }
     .container3{
        padding: 80px 0;
        width:100%;
     }

    .container3 .serv-icon ul{
        padding: 30px 20px;
    }

     .container4{
        display: block;
        padding: 80px 0;
        width: 91.73%;
     }
     .container4 .work{
        padding: 0;
     }
     .lat-work p {
        padding: 0;
     }
     .bg-dark{
        padding: 55px 0;
        margin-top: 5px;
     }
     .row {
        display: block;
        padding: 0;
     }
     .why-choose {
         width:91.73%;
         padding: 80px 0;
     }
     .why-choose .row .alt-features-item{
         padding: 0;
         margin-top: 30px;
     }
     .choose-det{
         padding: 0;
     }
     .owl-slide2 .item .item-text{
         width: 100%;
     }
     .owl-slide2 .item .item-text span {
        margin-bottom: 7px;
        font-size: 32px;
     }
    
    .owl-slide2 .item .item-text h3{
        font-size: 18px;
    }
    .owl-slide2 .item .item-text p{
        font-size: 18px;
    }
    .owl-slide2 .item {
        padding: 92px 0;
    }
    .owl-slide2 .owl-nav button.owl-prev{
       
        left: -40px;
    }
    .owl-slide2 .owl-nav button.owl-next{
       
        right: -40px;
    }
    .owl-slide2 .owl-nav{
        opacity: 2;
        top: 42%;
    }
    .owl-slide2 .owl-nav button.owl-prev span{
        left: 7px;
        bottom: 17px;
    }
    .container5 {
        padding: 80px 0 0 0;
    }
    .container6{
        background-attachment:inherit;
    }
    .ecart .bestsell{
        display: block;
        margin-bottom: 30px;
    }
    .ecart .bestsell h2{
        text-align: left;
    }
    .ecart{
        padding: 0;
    }
    .container7{
        padding: 80px 0;
        width: 93.73%; 
    }
    .bestcart{
        display: block;
    }
    .bestcart .showcase{
        margin: 0px 0 40px 0;
    }
    .show-img{
        margin: 0 0px 10px 0;  
    }
    .container8 .awes{
        display: block;
    padding: 80px 0;
    }
    .container8 .awes-img{
        width: 100%;
    }
    .container8 .awes-temp{
        width: 100%;
    }
    .container8 .awes-img img{
        width: 100%;
    }
    .container8 .owl-slide2:hover button.owl-next{
        right: -38px;
    }

    .serv-icon ul{
        flex-wrap:wrap;
    }

    .lat-img{
        display: block;

    }
    .workimg{
        display: block;
        padding: 5px 5px;
        float:left;
        width:48%;
        margin:0;
    }

    .container8 .awes-img .item{
        padding: 30px 0 0;
    }
    .container9 .owl-slide2 .item {
        padding: 108px 0 108px 0;
    }
    .containera1{
        width: 93.73%;
        padding: 80px 0;
    }
    .containera1 .news{
        margin-bottom: 40px; 
        display: block;
        padding: 0;
    }
    .containera1 .news h2{
        text-align: left;
    }
    .news-det{
        display: block;
    }
    .tnews{
        padding: 0px 0 57px 0;
    }
    .news-det .nhead{
        font-size: 15px;
    }
    .news-det .nhead2 a{
        font-size: 11px;
    }
    .news-det .nhead3 p{
        font-size: 15px;
    }
    .containera2 .newsletter{
        font-size: 14px;
    }
    .containera2 .letter-box input {
        height: 34px;
        padding-right: 140px;
        font-size: 10px;
    }
    .containera3 {
        padding: 80px 0;
        width: 93.73%;
       
    }
    .containera3 .rowf{
        display: block;
    }
    .containera3 .contact-item {

      justify-content: left;
        width: 100%;
        padding: 0px 0px 24px 0;
    }
    .containera3 .contact-item .ci-title{
        margin-bottom: 10px;
        letter-spacing: 0.2em;
    }
    .containera3 .contact-item .ci-icon{
        margin: 0 20px 0 0;
    }
    .containera3 .find{
        margin-bottom: 40px;
    }
    .containera4{
        margin-top: 0;
    }
    .banner-heading{
        letter-spacing: 0.2em;
    }
    .containera5{
        padding: 80px 0;
    }
    .containera5 .logo2 img {
        width: 16%;
    }
    .containera5 .linkr .linkrot{
        margin: 0 7px;
    }
    .containera5 .linkr{
        margin-bottom: 60px;
    }
    .nav{
        display: block;
    }

    .nav .nav-bar{
        background-color: transparent;
        height: 55px;
    }
    
    .nav .logo {
        width: 23.5%;
        margin: 15px 0 8px 10px;
        float: left;
    }
    .nav .ham{
        display: block;
        font-size: 20px;
        padding: 13px 40px 0px 0px;
        text-align: right;
    }
    .nav .ham i{
        color:white;

    }
    .nav .menu{
        display: block;
        text-align: left;
        background-color:rgba(18,18,18, .97);
        margin: 0 10px;
        border-top:1px solid rgba(100,100,100, .4);
        transition: 1s;
        opacity: 0;
        height: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .nav .menu li{
        height: auto;
        padding: 12px;
        font-size: 11px;
        margin:0;
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        letter-spacing: 1px;
        border-bottom: 1px solid rgba(255,255,255, .065);
    }

    .nav .menu .element{
        display:block;
    }
    .nav .menu .element li{
        display:block;
        padding-left: 0;
    }

    .nav .menu #active{
        background: rgba(255,255,255, .03);
    }

}

@media screen and (max-width:436px){
    .workimg{
        width: 100%;
        padding:0px 0 10px ; 
    }
    .alt-tabs-icon{
        font-size: 32px;
    }
    .serv-icon{
        letter-spacing: 1px;
        font-size: 12px;
    }
    
   
}